{% extends "layout/_base.html" %}

{% block title %}
Star Coder GPTQ
{% endblock %}

{% block content %}
<section>
  <h2>Describe the function you would like to have shown to you</h2>
  <form id="jsonForm">
      <label for="input_data">Text:</label>
      <textarea id="input_data" name="input_data">
// A javascript function that plots the line for a graph in a canvas element.
// An example input would be "y = 2x + 3" and the output should be a graph with the equation plotted on it.
function plot(equationForLine) {
  {{ '{{~gen' }} 'code' {{ '}}' }}
}
      </textarea>
      <div>
          <input type="submit" value="Submit" {{ ram_status_disabler }}>
      </div>
  </form>
  <pre id="result"></pre>
</section>
{% endblock %}
