{% set MODULE_NAME = request.url.path.lstrip('/') %}
{% set ram_status_class = 'ram-good' if ram >= 64 else 'ram-bad' %}
{% set ram_status_disabler = '' if ram >= 64 else 'disabled' %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/modules/styles.css">

    {% if has_file('modules/' + MODULE_NAME + '/custom.css') %}
        <link rel="stylesheet" type="text/css" href="/modules/{{ MODULE_NAME }}/custom.css">
    {% endif %}

    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
      <ul>
        {% include "layout/_navbar.html" %}
      </ul>
    </nav>
    {% include "layout/_ram_notice.html" %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

<script src="/modules/{{ MODULE_NAME }}/index.js"></script>
<script>
  document.querySelectorAll('nav a').forEach(link => {
      if (link.href === window.location.href) {
          link.className = 'current';
      }
  });
</script>
{% block extra_js %}{% endblock %}
</html>
