{% extends "_base.html" %}

{% block title %}
Guidance
{% endblock %}

{% block content %}
<section>
  <h2>Submit your code request and it will write it in a javascript function.</h2>
  <form id="jsonForm">
      <label for="input_data">Text:</label>
      <textarea id="input_data" name="input_data">Please show me a javascript function that plots the line for a graph in a canvas element. An example input would be "y = 2x + 3"</textarea>
      <div>
          <input type="submit" value="Submit">
      </div>
  </form>
  <div id="result"></div>
</section>
{% endblock %}
