{% extends "layout/_base.html" %}

{% block title %}
Text Generation Via GPT4ALL
{% endblock %}

{% block content %}
<section>
  <h2>Submit your text for interacting with a chat agent</h2>
  <form id="jsonForm">
      <label for="input_data">Text:</label>
      <textarea id="input_data" name="input_data">Please show me the html for a website that uses an llm to write code via a web API. Write all of the code, don't use placeholders indicating where code goes.</textarea>
      <div>
          <input type="submit" value="Submit" {{ ram_status_disabler }}>
      </div>
  </form>
  <pre id="result">sample</pre>
</section>
{% endblock %}
