{% set MODULE_NAME = request.url.path.lstrip('/') %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/{{ MODULE_NAME }}/custom.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
      <ul>
        {% include "_navbar.html" %}
      </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

<script src="/static/{{ MODULE_NAME }}/index.js"></script>
<script>
  document.querySelectorAll('nav a').forEach(link => {
      if (link.href === window.location.href) {
          link.className = 'current';
      }
  });
</script>
{% block extra_js %}{% endblock %}

</html>
