<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/basics">Basics</a></li>
          <li><a href="/semantic">Semantic Analysis</a></li>
      </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

{% block extra_js %}{% endblock %}
<script>
  document.querySelectorAll('nav a').forEach(link => {
      if (link.href === window.location.href) {
          link.className = 'current';
      }
  });
</script>
</html>
